body {
    padding-top: 3rem;
}

.signInUpDescription {
    padding: 3rem 1.5rem;
    text-align: center;
}

.error {
    color: red;
}

.login-result-info {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.action-button {
    margin: 4px 0px 4px;
}

#facebook {
    color: white;
}

#facebook {
    background: #4267b2;
}

#facebook:hover {
    background: #253d6f;
}



